html, body {
  background: #f7f7f7 !important;
}

.ui.header {
  margin: 15px 0;
}

h4.ui.header {
  margin: 5px 0;
}

.headerApp {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.container.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.header

.info {
  width: 30%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}